body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.log-links {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}


.logo-weakspot-dashboard {
    display: block;
    width: 140px;
    position: absolute;
    top: 13px;
    left: 5%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.form-search-nav {
    padding: 2px 200px 0;
    margin: 0 auto;
}

.form-control {
    max-width: 700px;
    margin: 0 auto;
    border: none;

    border-bottom: 1px solid
    #ddd;
    padding: 0 0 3px 30px;
    background-size: 20px auto;
    color:
            #666;
    font-weight: 300;
    border-radius: 0;
}

.log-links {
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}

.icon-user{
    width: 31%;
    margin-top: -15px;

    left: 20px;

}

.log-user{
    color:
            #000;
    text-decoration: none !important;
    line-height: 1.1;
    display: block;
    margin-bottom: 30px;
}


header {
    background:
            #fff;
    box-shadow: 0 3px 15px
    rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
    display: block;
}

a:hover{
    color: #0056b3;
    text-decoration: underline;
}

p{
    font-size: 16px;
    margin: 0;
    display: block;


}

.colorText{
    color: white;
}

small {

    color:

            #1879c8;
    display: block;
}


*, ::after, ::before {

    box-sizing: border-box;

}

.all-container {
    padding-top: 100px;
    min-height: inherit;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

row-kpi {
    margin: 0 -25px;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.bande-1{
    background: url('../img/weakspot-mesuer-empreinte-web.jpg') center no-repeat;
    background-size: auto;
    background-size: cover;
}

.bandes-contenus{
    padding: 150px 0;
    position: relative;
}

.content-pedag{

    color:

            #fff;

}

.bouton.btn-gradient {

    padding: 12px 40px;
    color:

            #fff;
    background: linear-gradient(to right,
    #1f5fc2 0%,

    #00bffe 100%);
}

.mt-3, .my-3 {

    margin-top: 1rem !important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.bouton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 1;
    text-decoration: none !important;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.container {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.text-right {

    text-align: right !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    justify-content: flex-end !important;

}

.d-flex {
    display: flex !important;

}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.bande.bande-2 {
    background: url('../img/weakspot-mesuer-empreinte-web2.jpg') center bottom no-repeat;
    background-attachment: fixed;
}

.unit-kpi {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
}

.counter {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
}

.categorie {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}
.sub-infos {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
}

.link-details {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none !important;
    padding-left: 26px;
    transition: all ease-in-out 0.25s;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.bouton.btn-bleu {
    background: #002f7d;
    color: #fff;
}

.bouton.btn-white {
    background: #fff;
    color: #004bbe;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}

.unit-kpi:hover{
    transform: scale(1.2);
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    text-align: center;
    padding: 10px 15px;
    background: #272727;
    display: block;
}
