.all-container {
    min-height: 100vh;
    background: linear-gradient(to bottom,
    #1487cb 25%,
    #1f5cc0 100%);
}

.form-contenair {
    max-width: 400px;
    border-radius: 7px;
    padding: 40px 30px;
    background:
            #fff;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 50px
    rgba(0, 0, 0, 0.2);
}

.logo-center {

    display: block;
    margin: -50px auto 30px;
    width: 250px;

}

.justify-content-center {
    -webkit-box-pack: center !important;
    justify-content: center !important;

}

.align-items-center {

    -webkit-box-align: center !important;
    align-items: center !important;

}


.d-flex {

    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;

}
