
.sectionHeader{
    max-width: 100%;
    background: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: 60px;
}
.head-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo-Top {
    display: block;
    width: 140px;
    position: absolute;
    top: 13px;
    left: 50%;
    z-index: 10;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.head-topRight {
    margin-bottom: 50px;
    text-align: left;
    position: absolute;
    top: 13px;
    right: 0;
    padding-bottom: 9px;
    padding-right: 30px;
}

.user-loggin{
    color: #000;
    text-decoration: none !important;
    line-height: 1.1;
    display: inline-block;
}
.log-out {
    position: absolute;
    top: 100%;
    left: -15px;
    color: #000;
    background: #fff;
    font-size: 13px;
    width: 152px;
    padding: 10px 40px 10px 15px;
    border-top: 1px solid #ddd;
    display: none;
}

 .fixed-bottom{
     text-align: center;
     padding: 10px 15px;
     background: #272727;
 }
.logoweakspot{
    padding-bottom: 20px;
    align-items: center;
    width: 140px;
    position: absolute;
    left: -870px;

}


